* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "bulsara";
  src: url(./fuentes/bulsara.ttf);
}

/*MIXIN*/
/*MAPAS*/
.imagen--fertilizantes {
  border: solid 6px linear-gradient(#219900, #7ca172);
}

.imagen--sustratos {
  border: solid 7px linear-gradient(#219900, #7ca172);
}

.imagen--parafernalia {
  border: solid 8px linear-gradient(#219900, #7ca172);
}

.imagen--otros {
  border: solid 10px linear-gradient(#219900, #7ca172);
}

/* EMPIEZA EL CSS DEL INDEX*/
/* EMPIEZA CSS DEL HEADER*/
header {
  background: -webkit-gradient(linear, left top, left bottom, from(#219900), to(#7ca172));
  background: linear-gradient(#219900, #7ca172);
  width: 100%;
  min-height: 120px;
}

header h1 {
  font-size: 10vw;
  font-weight: 200;
  text-align: center;
  font-family: bulsara;
  text-shadow: 0 0 40px whitesmoke;
}

.menu, .estilosFooter {
  background: -webkit-gradient(linear, left top, left bottom, from(#7ca172), to(#219900));
  background: linear-gradient(#7ca172, #219900);
}

.menu .nav-link, .estilosFooter .nav-link {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.493);
  text-align: center;
  font-weight: 120;
  font-family: bulsara;
}

.menu .nav-link:hover, .estilosFooter .nav-link:hover {
  color: whitesmoke;
}

/*TERMINA CSS DEL HEADER*/
/* EMPIEZA CSS DEL MAIN*/
html {
  scroll-behavior: smooth;
}

.general {
  background-image: url(./imagenes/fondo3.png);
  font-family: 'Courier New', Courier, monospace;
  background-size: cover;
  scroll-behavior: smooth;
  overflow: hidden;
}

.general h2 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 6px #96e785;
}

.general p {
  font-size: 20px;
  text-align: center;
  text-shadow: 1px 1px 6px white;
  font-weight: bold;
}

.sec {
  width: 100%;
}

.sec1 {
  width: 100%;
  background-color: black;
  opacity: 0.98;
}

.sec1 .carousel-item img {
  width: 50%;
  margin-left: 25%;
  padding: 10px;
}

.sec1 .carousel-indicators li {
  border-radius: 100%;
  height: 20px;
  width: 20px;
  background-color: #008f21;
}

.sec2 {
  min-height: 650px;
  padding-top: 150px;
}

.sec2 .logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec2 img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  padding: 10%;
}

.sec2 .quienSomos {
  text-align: center;
  padding: 5%;
}

.sec3 {
  width: 100%;
  min-height: 650px;
  padding-top: 100px;
}

.sec3 .alinearok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec3 img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-box-shadow: 4px 4px 15px 15px rgba(0, 128, 0, 0.479);
          box-shadow: 4px 4px 15px 15px rgba(0, 128, 0, 0.479);
  margin: 10px;
}

.sec4 {
  width: 100%;
  min-height: 650px;
  padding-top: 100px;
}

.sec4 .estiloGrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec4 img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  -webkit-box-shadow: 4px 4px 15px 15px rgba(0, 128, 0, 0.767);
          box-shadow: 4px 4px 15px 15px rgba(0, 128, 0, 0.767);
  margin: 10px;
}

/*TERMINA CSS DEL MAIN*/
/*EMPIEZA CSS DEL FOOTER*/
.estilosFooter {
  width: 100%;
  min-height: 220px;
}

.estilosFooter .centrarIframe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.estilosFooter .centrarIframe iframe {
  height: 200px;
  width: 250px;
  margin: 10px;
}

.estilosFooter h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 50px;
}

.estilosFooter h3 {
  color: white;
  font-weight: normal;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin-left: 50px;
}

.enlacesRedes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.enlacesRedes a {
  text-decoration: none;
}

.enlacesRedes a i {
  font-size: 45px;
  padding: 10px;
  color: white;
  text-align: center;
}

.enlacesRedes a i:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

/*TERMINA CSS DEL FOOTER*/
.rojo {
  background-color: red;
  height: 50px;
}

.azul {
  background-color: blue;
  height: 50px;
}

/* TERMINA EL CSS DEL INDEX*/
/*EMPIEZA CSS DE PAGE CONTACTO*/
.estilosForm {
  width: 40%;
  margin-left: 30%;
  min-height: 500px;
}

.estilosForm .form-group label {
  color: #219900;
  font-weight: bold;
}

.estilosForm .form-control {
  border: solid 2px  #219900;
  color: #008f21;
  font-weight: bold;
}

.estilosForm .form-control::-webkit-input-placeholder {
  color: #219900;
  font-size: 2vw;
}

.estilosForm .form-control:-ms-input-placeholder {
  color: #219900;
  font-size: 2vw;
}

.estilosForm .form-control::-ms-input-placeholder {
  color: #219900;
  font-size: 2vw;
}

.estilosForm .form-control::placeholder {
  color: #219900;
  font-size: 2vw;
}

.estiloBoton {
  margin: 10px;
  margin-left: 25%;
  font-size: 1.5vw;
}

/*TERMINA CSS DE PAGE CONTACTO*/
.up {
  position: fixed;
  margin-left: 1250px;
  margin-top: 300px;
  border: solid black 3px;
  border-radius: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#219900), to(#7ca172));
  background: linear-gradient(#219900, #7ca172);
  color: white;
  font-size: 20px;
  padding: 10px;
  z-index: 2;
}

.up a, .up i {
  color: black;
}

header {
  overflow: hidden;
}

/*EMPIEZA CSS DE PAGE FERTILIZANTES - SUSTRATOS - PARAFERNALIA - OTROS*/
#hoverProductos {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hoverProductos .imagenHover {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  position: absolute;
  z-index: 1;
  -webkit-box-shadow: 20px 20px 10px #219900be;
          box-shadow: 20px 20px 10px #219900be;
}

#hoverProductos .imagenHover:hover {
  opacity: 0;
  -webkit-transition: all 2s;
  transition: all 2s;
}

#hoverProductos .descripcionHover {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  font-size: 15px;
  position: relative;
  color: black;
  background: radial-gradient(#7ca1729d, #219900);
  text-align: center;
  padding: 5px;
  -webkit-box-shadow: 20px 20px 10px black;
          box-shadow: 20px 20px 10px black;
}

/*TERMINA CSS DE PAGE FERTILIZANTES - SUSTRATOS - PARAFERNALIA - OTROS*/
/*EMPIEZA CSS DE PAGE GROW TIPS  */
/*EMPIEZA ESTILOS TABLA*/
.tabla {
  background-color: #73aa80;
  margin-left: 15%;
  margin-top: 20px;
  width: 70%;
  font-weight: bold;
  overflow-x: scroll;
}

.tabla tr, th, td {
  border: solid 2px green;
  text-align: center;
  padding: 5px;
}

/*TERMINA ESTILOS TABLA*/
.articulos {
  padding-top: 20px;
  width: 100%;
  padding-bottom: 20px;
}

.articulos li {
  text-align: center;
  list-style: none;
}

.articulos li a {
  padding: 5PX;
  color: white;
  background-color: #008f21ea;
}

.articulos iframe {
  width: 350px;
  height: 350px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

h1 {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: animacionH1;
          animation-name: animacionH1;
}

@-webkit-keyframes animacionH1 {
  0% {
    margin-left: 100%;
    width: 300%;
  }
  100% {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes animacionH1 {
  0% {
    margin-left: 100%;
    width: 300%;
  }
  100% {
    margin-left: 0%;
    width: 100%;
  }
}

.navbar {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: animacionMenu;
          animation-name: animacionMenu;
}

@-webkit-keyframes animacionMenu {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  70% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animacionMenu {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  70% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=estilos.css.map */